<nav>
    <div class="main">
        <a class="title" href="#home" routerLinkActive='active'>MADIMED<span class="title-sub">Clinic</span></a>

        <ul class="navbar-list navbar-full">
            <ng-container>
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item" *ngIf="(accountService.currentUser$ | async) == null">
                    <a class="link" href="#about">About</a>
                </li>
                <li class="item" *ngIf="(accountService.currentUser$ | async)">
                    <a class="link" routerLink="/members" routerLinkActive='active'>Members</a>
                </li>
                <li class="item" *ngIf="(accountService.currentUser$ | async)">
                    <a class="link" routerLink="/visits" routerLinkActive='active'>New visit</a>
                </li>
                <li class="item" *ngIf="(accountService.currentUser$ | async)">
                    <a class="link" routerLink="/visits-list" routerLinkActive='active'>Visits list</a>
                </li>
                <li class="item" *ngIf="(accountService.currentUser$ | async)">
                    <a class="link" routerLink="/history" routerLinkActive='active'>History</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
            </ng-container>
            <!-- Link to test errors -->
            <!-- <li class="item">
                    <a class="link" routerLink="/errors" routerLinkActive='active'>Errors</a>
            </li> -->
        </ul>

        <ng-container>
            <div class="dropdown navbar-full" *ngIf="(accountService.currentUser$ | async) as user">
                <ol>
                    <li>
                        <a>Welcome {{user.firstName | titlecase}}</a>
                        <ul>
                            <li><a routerLink="/member/edit">Edit Profile</a></li>
                            <hr>
                            <li><a (click)="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ol>
            </div>
        </ng-container>

        <form *ngIf="(accountService.currentUser$ | async) == null" #loginForm="ngForm" class="nav-form navbar-full"
            (ngSubmit)="login()" autocomplete="off">
            <input name="pesel" [(ngModel)]="model.pesel" type="text" class="form-control" placeholder="Pesel">
            <input name="password" [(ngModel)]="model.password" type="password" class="form-control"
                placeholder="Password">
            <button type="submit" class="log" mat-stroked-button>
                <span class="btnText">Login</span>
            </button>
            <button type="button" class="register" mat-stroked-button (click)="signUp()">
                <span class="btnText">Sign-up</span>
            </button>
        </form>

        <div class="navbar-mobile">
            <div class="navbar-container">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li *ngIf="(accountService.currentUser$ | async) == null">
                        <a href="#about">About Us</a>
                    </li>
                    <li *ngIf="(accountService.currentUser$ | async)">
                        <a routerLink="/members">Members</a>
                    </li>
                    <li *ngIf="(accountService.currentUser$ | async)">
                        <a href="/visit">Visits</a>
                    </li>
                    <li *ngIf="(accountService.currentUser$ | async)">
                        <a routerLink="/history">History</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li *ngIf="(accountService.currentUser$ | async)">
                        <a (click)="logout()">Logout</a>
                    </li>
                    <li *ngIf="(accountService.currentUser$ | async) == null">
                        <a routerLink="/login-mobile">Login</a>
                    </li>
                    <li *ngIf="(accountService.currentUser$ | async) == null">
                        <a href="#signup">Sign Up</a>
                    </li>
                </ul>
                <!-- <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button> -->
            </div>

        </div>
    </div>
</nav>