<nav>
    <div class="main">
        <a class="title" routerLink="/" routerLinkActive='active'>MADIMED<span class="title-sub">Clinic</span></a>

        <ul class="navbar-list">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="item">
                    <a class="link" routerLink="/" routerLinkActive='active'>Home</a>
                </li>
                <li class="item">
                    <a class="link" routerLink="/members" routerLinkActive='active'>Lists</a>
                </li>
                <li class="item">
                    <a class="link" routerLink="/lists"routerLinkActive='active'>Info</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user">
                <ol>
                    <li>
                        <a>Welcome {{user.username | titlecase}}</a>
                    <ul>
                      <li><a>Edit Profile</a></li>
                      <li><a (click)="logout()">Logout</a></li>
                    </ul>
                  </li>
                </ol>
        </div>

        <form *ngIf="(accountService.currentUser$ | async) == null" #loginForm="ngForm" class="nav-form" 
            (ngSubmit)="login()" autocomplete="off">
            <input 
                name="username"
                [(ngModel)]="model.username"
                type="text" 
                class="form-control" 
                placeholder="Username">
            <input 
                name="password"
                [(ngModel)]="model.password"
                type="password" 
                class="form-control" 
                placeholder="Password">
            <button type="submit" class="log" mat-stroked-button>
                <span class="btnText">Login</span>
            </button>
            <button type="button" class="register" mat-stroked-button>
                <span class="btnText">Sign-up</span>
            </button>
        </form>

    </div> 
</nav>
