<nav>
    <div class="main">
        <a class="title" routerLink="/" routerLinkActive='active'>MADIMED<span class="title-sub">Clinic</span></a>

        <ul class="navbar-list navbar-full">
            <ng-container>
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item" *ngIf="accountService.currentUser$ | async">
                    <a class="link" routerLink="/members" routerLinkActive='active'>Members</a>
                </li>
                <li class="item" *ngIf="accountService.currentUser$ | async">
                    <a class="link" routerLink="/lists" routerLinkActive='active'>Lists</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
            </ng-container>
            <!-- Link to test errors -->
            <!-- <li class="item">
                    <a class="link" routerLink="/errors" routerLinkActive='active'>Errors</a>
                </li> -->
        </ul>

        <ng-container *ngIf="member">
            <div class="dropdown navbar-full" *ngIf="(accountService.currentUser$ | async) as user">
                <ol>
                    <li>
                        <!-- <a>Welcome {{member.firstName}}</a> -->
                        <a>Welcome</a>
                        <ul>
                            <li><a routerLink="/member/edit">Edit Profile</a></li>
                            <hr>
                            <li><a (click)="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ol>
            </div>
        </ng-container>

        <form *ngIf="(accountService.currentUser$ | async) == null" #loginForm="ngForm" class="nav-form navbar-full"
            (ngSubmit)="login()" autocomplete="off">
            <input name="pesel" [(ngModel)]="model.pesel" type="text" class="form-control" placeholder="Pesel">
            <input name="password" [(ngModel)]="model.password" type="password" class="form-control"
                placeholder="Password">
            <button type="submit" class="log" mat-stroked-button>
                <span class="btnText">Login</span>
            </button>
            <button type="button" class="register" mat-stroked-button>
                <span class="btnText">Sign-up</span>
            </button>
        </form>

        <div class="navbar-mobile">
            <div class="navbar-container">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="#home">Home</a></li>
                    <li><a routerLink="/members">List</a></li>
                    <li><a routerLink="/lists">Info</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a routerLink="/login-mobile">Login</a></li>
                    <li><a >Register</a></li>
                </ul>
                <!-- <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button> -->
            </div>

        </div>
    </div>
</nav>