.main {
    display: flex;
    justify-content: space-between;
    // flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 12;
    width: 100%;
    height: 100px;
    margin: 0;
    // margin-bottom: 2.5rem;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    // background-color: #007A78;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6 !important;
    box-shadow: 0 6px 6px rgba(0,0,0,.3);
    box-sizing: border-box;
    a {
        text-decoration: none;
    }
}
.title {
    display: flex !important;
    color:  #343a40;
    padding-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2;
    font-weight: 700;
    font-size: 2.5em;
}
.title:hover {
    cursor: pointer;
    color: #000;
}
.title-sub {
    font-size: 0.5em;
    margin: auto;
    margin-left: 0;
    margin-bottom: 0;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    padding-right: 8%;
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.link {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    color: #007bff;
    font-weight: 500;
    font-size: 1rem;
    margin: 10px;
}
.link:hover {
    color: #003e80;
}

.dropdown {
    display: flex;
    margin-right: 5%;
    ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
        color:#343a40;
      }

      /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
      ol a {
        display: block;
        text-decoration: none;
        color:#343a40;
        padding: 0 5px;
        cursor: pointer;
      }

      ol a:hover {
        color: #000;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol */
      ol > li {
        float: left;
        width: 125px;
        margin-left: 1px;
        background-color: #fff;
        color: #000;
        height: 2em;
      }

      ol > li:hover > ul {
        display: block;
        cursor: pointer;
        margin-top: 5px;
      }

      ol > li > ul {
        display: none;
        list-style-type:none;
        padding: 0;
        margin: 0;
        border: 1px solid #9e9e9e;
        border-radius: 5px;
        background-color: #fff;
      }
      ol > li > ul > li {
        position: relative;
        padding-left: 5px;
        margin-top: 7px;
        margin-bottom: 7px;
        background-color: #fff;
      }

      ol > li > ul > li:hover {
        background-color: #dee2e6;
      }

      /* wygląd elementu - a - w części rozwijanej */
      ol > li > ul > li > a {
        // border-radius: 5px;
        // border:1px solid #9e9e9e;
      }
      hr {
        margin: 0;
    }
}

form {
    display: flex;
    margin-left:0;
    margin-right: 2%;
    height: 35px;
    .form-control {
        margin-right: 10px;
        padding: 0;
        padding-left: 10px;
        height: 100%;
        font-size: 1em;
        border-radius: 4px;
    }
}

.log {
    height: 100%;
    margin-right: 10px;
    padding: 0;
    border-color: #007bff;
    .btnText {
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
        font-weight: 400;
        color: #007bff;
        // color: #FFC745;
    }
}
.log:hover {
    background-color: #007bff;
    .btnText {
        color: #fff;
    }
}
.register {
    min-width: 80px;
    padding: 0;
    background-color: rgba(0, 123, 255, 0.9);
    .btnText {
        color: #fff;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
        font-weight: 400;
    }
}
.register:hover {
    background-color: rgba(0, 123, 255, 1);
}


.navbar-mobile {
    display: flex;
    justify-content: space-between;
    color: #000;
    min-width: 100px;
    .menu-items li {
        list-style: none; 
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
        cursor: pointer;
    }
    .navbar-container {
        display: block;
        position: relative;
        min-width: 100px;
        height: 64px;
    }
    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        margin: 0;
        height: 30px;
        width: 30px;
        top: 20px;
        right: 11vw;
        z-index: 5;
        opacity: 0;
      }
      .navbar-container .hamburger-lines {
        display: block;
        cursor: pointer;
        height: 23px;
        width: 35px;
        margin: 0;
        position: absolute;
        top: 23px;
        right: 10vw;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
      }
      .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
    
      .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
    
      .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      .menu-items {
        margin-top: -18px;
        padding-top: 125px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        padding: auto;
        padding-right: 100px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 5px 10px 10px rgba(0,0,0,.3);

      }
      .menu-items li {
        list-style: none;
        max-width: 150px;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        font-weight: 500;
      }
      
      .menu-items a {
        text-decoration: none;
        color: #007bff;
        font-weight: 500;
        transition: color 0.3s ease-in-out;
      }
      
      .menu-items a:hover {     
        color: #003e80;
        transition: color 0.3s ease-in-out;
      }
 
      .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
      }

    button {

    }
    mat-icon {
        font-size: 3rem;
    }
}

@media (max-width: 750px) {
    .navbar-mobile {
        display: flex !important;
    }
    .navbar-full {
        display: none !important;
    }
}
@media (min-width: 750px) {
    .navbar-full {
        display: flex !important;
    }
    .navbar-mobile {
        display: none !important;
    }
}