<div class="cont">
    <div class="edit-title">
        <h1 *ngIf="member">Edit your profile</h1>
        <div class="edit-submit">
            <button type="submit" class="save" [disabled]="!editForm.dirty" form="editForm" mat-raised-button
                color="success">
                <span class="btnText">Save Changes</span>
            </button>
        </div>
        <div class="edit-submit">
            <button type="button" class="save del" mat-raised-button
                color="success"
                (click)="deleteMember()">
                <span class="btnText">Delete Profile</span>
            </button>
        </div>
    </div>
    <div class="infos">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
            <tabset class="edit-tabset">
                <tab class="member-tabset" heading="Personal data">
                    <div class="form first">
                        <h4 class="header">Personal data</h4>

                        <div class="form-inputs">
                            <label>First name</label>
                            <input type="text" placeholder="Enter your name" [(ngModel)]="member.firstName"
                                name="firstName">
                        </div>
                        <div class="form-inputs">
                            <label>Last name</label>
                            <input type="text" placeholder="Enter your last name" [(ngModel)]="member.lastName"
                                name="lastName">
                        </div>
                        <div class="form-inputs">
                            <label>Date of birth</label>
                            <input type="text" placeholder="{{member.dateOfBirth | date:'dd . mm . yyyy'}}" onfocus="(this.type='date')"
                                name="dateOfBirth">
                        </div>
                        <div class="form-inputs">
                            <label>Phone number</label>
                            <input type="text" placeholder="Enter your phone number" [(ngModel)]="member.phone"
                                name="phone">
                        </div>
                    </div>
                </tab>
                <tab class="member-tabset" heading="Location details">
                    <div class="form second">
                        <h4 class="header">Address</h4>

                        <div class="form-inputs">
                            <label>Street</label>
                            <input type="text" placeholder="Enter your street" [(ngModel)]="member.address[0].street"
                                name="street">
                        </div>
                        <div class="form-inputs">
                            <label>Town</label>
                            <input type="text" placeholder="Enter your town" [(ngModel)]="member.address[0].town" name="town">
                        </div>
                        <div class="form-inputs">
                            <label>Code</label>
                            <input type="text" placeholder="Enter your code" [(ngModel)]="member.address[0].code" name="code">
                        </div>
                    </div>
                </tab>
                <tab class="member-tabset" heading="Account informations">
                    <div class="form third">
                        <h4 class="header">Account changes</h4>

                        <div class="form-inputs">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" [(ngModel)]="member.email" name="email">
                        </div>
                        <div class="form-inputs">
                            <label>New password</label>
                            <input type="password" placeholder="Enter new password" name="pass">
                        </div>
                        <div class="form-inputs">
                            <label>Repeat password</label>
                            <input type="password" placeholder="Repeat new password" name="pass">
                        </div>
                    </div>
                </tab>
            </tabset>
        </form>
    </div>
</div>