.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -50px;
    hr {
        display: flex;
        width: 90%;
        margin-top: 100px;
        margin-bottom: 100px;
        border-top: 1px solid #b3b3b3;
    }
}


.panel-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 65%;
        margin-bottom: 100px;
    }
    .tiles {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        margin: auto;
        margin-bottom: 0;
        width: 80%;
        height: 20rem;
        margin-top: 250px;
        background-color: transparent;

        .tiles-tile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 300ms ease-in-out;
        }
        .tiles-tile:hover {
            transform: scale(1.05);
        }
    }   
}
.tiles-text {
    width: 70%;
    margin: auto;
}
.tiles .tile-one, .tile-two, .tile-three {
    position: relative;
    color: #fff;
    h4 {
        font-weight: 400;
        margin-bottom: 30px;
        .letter {
            color: red;
        }
        span {
            font-weight: 600;
            color: red;
        }
    }
}

.tiles .tile-one {
    background-color: #3A99FC;

    .tex {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        color: #fff;
        font-weight: 300;
        span {
            margin-left: auto;
            margin-right: 0;
        }
    }
}
.tiles .tile-one .tex::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        height: 1px;
        width: 100%;
        background-color: whitesmoke;
}

.tiles .tile-two {
    background-color: #3CADA1;

    .tex {
        font-weight: 300;
    }
    .tel-number {
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 10px;
    }
    mat-icon {
        font-size: 1.7rem;
    }
}

.tiles .tile-three {
    background-color: #0A1E41; 

    h4 {
        width: 100%;
        text-align: center;
        font-weight: 400;
        margin: auto;
        margin-bottom: 30px;
    }
    button {
        margin: auto;
        margin-top: -10px;
    }
    p {
        .link-href {
            cursor: pointer;
            text-decoration: none;
            color: #3A99FC;
            font-size: 1.3rem;
            font-weight: 500;
        }
        .link-href:hover {
            color: white;
        }
    }
}
.tiles .tile-three .tiles-text {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.tiles-tile .drop-number {
    position: absolute;
        right: -4px;
        bottom: -24px;
        font-weight: 900;
        font-size: 80.65px;
        line-height: 1;
        color: rgba(255,255,255,.1);
        letter-spacing: -6px;
        z-index: 1;
}

.panel-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    // margin-top: -50px;
    // margin-bottom: -50px;
    width: 100%;
    height: auto;

    .tile {
        display: flex;
        flex-wrap: nowrap;  
        width: 100%;
        margin: 25px 10%;
    }
    .tile .tile-text {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        h1 {
            width: 90%;
            font-weight: 700;
            line-height: 1.5;
            text-transform: capitalize;
        }
        h6 {
            width: 50%;
            margin-top: 0;
            font-weight: 700;
            line-height: 1.5;
        }
        p {
            width: 90%;
        }
    }
    .tile .tile-image {
        display: flex;
        width: 350px;
        height: 500px;
        margin-top: -25px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

// .panel-3 {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     margin: 0 5%;
//     width: 100%;
//     height: 20%;

//     .title-con {
//         grid-area: header;
//         // border: 1px solid black;
//     }
//     .left-panel {
//         grid-area: left;
//         // border: 1px solid black;
//         text-align: right;
//         padding-right: 5%;
//     }
//     .right-panel {
//         grid-area: right;
//         // border: 1px solid black;
//         text-align: left;
//         padding-left: 5%;
//     }
//     .footer-panel {
//         grid-area: footer;
//         // border: 1px solid black;

//     }

//     .grid-container {
//         display: grid;
//         width: 100%;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//         // border: 1px solid black;
//         grid-template-columns: 20% 20% 20%;
//         grid-template-rows: auto;
//         grid-template-areas: 
//             "header header header"
//             "left right ."
//             "footer footer footer";
//     }

//     // .title-con {
//     //     display: flex;
//     //     justify-content: center;
//     //     width: 100%;
//     //     margin: auto;
//     // }
//     // .left-panel {
//     //     display: flex;
//     //     flex-wrap: wrap;
//     //     width: 5%;
//     //     p{
//     //         width: auto;
//     //         margin: 0 auto;
//     //     }
//     // }
//     // .right-panel {
//     //     display: flex;
//     //     flex-wrap: wrap;
//     //     width: 10%;
//     //     p {
//     //         width: auto;
//     //         margin: 0 auto;
//     //     }
//     // }

// }
.panel-3 {
    width: 100%;
    // margin: auto 5%;

  footer {
    background-color: #0A1E41;
    // background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1rem 1rem;
    margin: auto 5%;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: stretch;
  }
  .row.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    margin: 0;
    padding: 0;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    // min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    // color: #000;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    // background-color: #3A99FC;
    // background-color: #c7940a;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #bac6d9;
  }
  
  .copyright {
    padding: 0.3em 1em;
    background-color: #07152c;
    // background-color: #25262e;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  }
}


.registerM {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media(min-width: 1220px) {
    .panel-1 {
        height: 50%;
        .tiles {
            .tiles-tile {
                margin: 0 10px;
            }
        }
    }
}
@media(max-width: 1220px) {
// panele pod soba
    .panel-1 {
        height: 225vh;
        margin-bottom: 100px;
        .tiles {
            flex-wrap: wrap;
            width: 60vw;
            height: 400px;
            position:unset ;
            margin-bottom: 20px;
            margin-top: 300px;  
        }
        .tiles-tile {
            margin-bottom: 100px;
        }
    }
}
@media(max-width: 700px) {
    .panel-1 {
        .tiles {
            width: 80vw;
        }
    }
}