<div class="main">
    <div class="panel-1" id="home">
        <img src="./assets/background_main.jpg">
        <div class="tiles">
            <div class="tiles-tile tile-one">
                <div class="tiles-text">
                    <h4>Open<span claprimaryss="letter">H</span><span>ours</span></h4>
                    <p class="tex">Monday - Friday<span>7:00 - 6:00 pm</span></p>
                    <p class="tex">Saturday<span>7:00 - 3:00 pm</span></p>
                    <p class="tex">Sunday<span>Close</span></p>
                    <span class="drop-number">01</span>
                </div>
            </div>
            <div class="tiles-tile tile-two">
                <div class="tiles-text">
                    <h4>Emergency<span class="letter">C</span><span>ases</span></h4>
                    <p class="tex">In case of emergency, please call a friendly medical clinic :</p>
                    <mat-icon>phone</mat-icon><span class="tel-number">0102030405</span>
                    <span class="drop-number">02</span>
                </div>
            </div>
            <div class="tiles-tile tile-three" id="signup">
                <div *ngIf="!(accountService.currentUser$ | async)" class="tiles-text">
                    <h4>You dont have an account yet?</h4>
                    <button (click)="registerToggle()" class="btn btn-primary btn-lg">Sign up</button>
                    <span class="drop-number">03</span>
                </div>
                <div *ngIf="accountService.currentUser$ | async" class="tiles-text">
                    <h4>Have you registered already?</h4>
                    <p>Go check your <a href="/history" class="link-href">history</a></p>
                    <p>Or you need sign to <a href="/visits" class="link-href">visit</a></p>
                    <span class="drop-number">03</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="panel-2" id="about">
        <div class="tile">
            <div class="tile-text">
                <h1>We strive to Provide You & Your Family with the best
                    Medical and General Practice Care</h1>
                <h6>We provide all aspects of medical practice for your whole
                    family inculding general check-ups
                    or assisting you with specific injuries</h6>
                <p>Our clinic was founded in [year] by [founders' names], with the goal of creating a welcoming and
                    supportive environment
                    for healthcare. We believe in treating the whole person, not just their medical condition, and
                    strive to build
                    long-lasting relationships with our patients. </p>
                <p>Our staff includes [list of healthcare professionals and their qualifications], all of whom are
                    dedicated to staying
                    up-to-date on the latest medical advances and techniques. We are proud to offer a wide range of
                    medical services,
                    including [list of services offered]. </p>
                <p><i>Thank you for choosing Our Clinic as your healthcare provider. We look forward to serving you and
                    your family.</i></p>

                <!-- Welcome to Our Clinic, where we strive to provide the highest quality healthcare for the whole family. Our team of
                dedicated professionals is committed to delivering personalized, compassionate care to our patients. -->
            </div>
            <div class="tile-image">
                <img src="./assets/Images/tile-image.png">
            </div>
        </div>
    </div>
    <hr>
    <div class="panel-3" id="contact">
        <footer>
            <div class="row primary">
                <div class="column about">
                    <h3>Contact</h3>
                    <div class="row contact">
                        <div class="column">
                            <p>Address:</p>
                        </div>
                        <div class="column">
                            <p>Mandel Street</p>
                            <p>45-700 Opole</p>
                        </div>
                    </div>
                    <div class="row contact">
                        <div class="column right">
                            <p>Telephone:</p>
                        </div>
                        <div class="column right">
                            <p>00 47 821 234</p>
                        </div>
                    </div>
                </div>
                <div class="column links">
                    <h3>Some Links</h3>
                    <ul>
                        <li><a href="#faq">F.A.Q</a></li>
                        <li><a href="#cookies-policy">Cookies Policy</a></li>
                        <li><a href="#terms-of-services">Terms Of Service</a></li>
                        <li><a href="#support">Support</a></li>
                    </ul>
                </div>
                <div class="column subscribe">
                    <h3>Newsletter</h3>
                    <div>
                        <input type="email" placeholder="Your email id here" />
                        <button class="btn btn-primary">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2022 Madimed Clinic</p>
            </div>
        </footer>
    </div>
</div>