<form [formGroup]="registerForm" class="form-register" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <div class="form first" *ngIf="isActiveF">
        <div class="user-details">
            <span class="header">Personal data</span>
                <app-text-input class="form-inputs" [formControl]='registerForm.controls["firstName"]' [label]='"first name"'></app-text-input>
                <app-text-input class="form-inputs" [formControl]='registerForm.controls["lastName"]' [label]='"last name"'></app-text-input>
                <app-text-input class="form-inputs" [formControl]='registerForm.controls["dateOfBirth"]' [label]='"date of birth"' [type]='"date"'></app-text-input>
                <app-text-input class="form-inputs" [formControl]='registerForm.controls["pesel"]' [label]='"pesel"' [type]='"pesel"'></app-text-input>
                <app-text-input class="form-inputs" [formControl]='registerForm.controls["phone"]' [label]='"phone number"'></app-text-input>
        </div>
        <div class="form-buttons">
            <button type="button" class="leftBtn" mat-raised-button color="success" (click)="cancel()">
                <span class="btnText">Cancel</span>
            </button>
            <button type="button" class="rightBtn" mat-raised-button color="success" (click)="activeSecond()">
                <span class="btnText">Next</span>
            </button>
        </div>
        <div *ngIf="validationsErrors.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationsErrors">{{error}}</li>
            </ul>
        </div>
    </div>

    <div class="form second" *ngIf="isActiveS">
        <div class="user-details">
            <span class="header">Address</span>
            <app-text-input class="form-inputs" [formControl]="registerForm.controls['address'].controls['street']" [label]='"street"'></app-text-input>
            <app-text-input class="form-inputs" [formControl]="registerForm.controls['address'].controls['town']" [label]='"town"'></app-text-input>
            <app-text-input class="form-inputs" [formControl]="registerForm.controls['address'].controls['code']" [label]='"post code"'></app-text-input>

            <span class="header">More informations</span>
            <div class="chcBox">
                <mat-checkbox (change)="onCheckboxChange($event)">
                    Have you been signed up in other medical clinic before?
                </mat-checkbox>
            </div>
            <div class="form-inputs clinic" *ngIf="isCheckedClinic">
                <label>Your last medical clinic</label>
                <input type="text" placeholder="Enter the name and address of the previous medical clinic"
                    formControlName="lastClinic">
            </div>
            <span class="chcInfo" *ngIf="isCheckedClinic" style="margin-top: 0;">We will contact with them about your
                patient history</span>
        </div>
        <div class="form-buttons">
            <button type="button" class="leftBtn" mat-raised-button color="success" (click)="activeFirst()">
                <span class="btnText">Back</span>
            </button>
            <button type="button" class="rightBtn" mat-raised-button color="success" (click)="activeThird()">
                <span class="btnText">Next</span>
            </button>
        </div>
    </div>

    <div class="form third" *ngIf="isActiveT">
        <div class="user-details">
            <span class="header">Account configuration</span>
            <app-text-input class="form-inputs" [formControl]='registerForm.controls["email"]' [label]='"email"' [type]='"email"'></app-text-input>

            <app-text-input class="form-inputs" [formControl]='registerForm.controls["password"]' [label]='"password"' [type]='"password"'></app-text-input>
            <app-text-input class="form-inputs" [formControl]='registerForm.controls["confirmPassword"]' [label]='"confirm password"' [type]='"password"'></app-text-input>
        </div>
        <div class="form-buttons">
            <button type="button" class="leftBtn" mat-raised-button color="success" (click)="activeSecond()">
                <span class="btnText">Back</span>
            </button>
            <button [disabled]="!registerForm.valid" type="submit" class="rightBtn" mat-raised-button color="success">
                <span class="btnText">Submit</span>
            </button>
        </div>
    </div>
</form>