<form #registerForm="ngForm" class="form-register" (ngSubmit)="register()" autocomplete="off">
    <div class="form first" *ngIf="isActiveF">
        <div class="user-details">
            <span class="header">Personal data</span>

            <div class="form-inputs">
                <label>First name</label>
                <input type="text" placeholder="Enter your name" [(ngModel)]="model.firstName" name="fName">
            </div>
            <div class="form-inputs">
                <label>Last name</label>
                <input type="text" placeholder="Enter your last name" [(ngModel)]="model.lastName" name="lName">
            </div>
            <div class="form-inputs">
                <label>Date of birth</label>
                <input type="date" placeholder="Enter your date" [(ngModel)]="model.dateOfBirth" name="date">
            </div>
            <div class="form-inputs">
                <label>Pesel</label>
                <input type="text" placeholder="Enter your pesel" [(ngModel)]="model.pesel" name="pes">
            </div>
            <div class="form-inputs">
                <label>Phone number</label>
                <input type="text" placeholder="Enter your phone number" [(ngModel)]="model.phone" name="ph">
            </div>
            <div class="form-inputs">
                <label>Email</label>
                <input type="text" placeholder="Enter your email" [(ngModel)]="model.email" name="em">
            </div>
        </div>
        <div class="form-buttons">
            <button type="button" class="leftBtn" mat-raised-button color="success" (click)="cancel()">
                <span class="btnText">Cancel</span>
            </button>
            <button type="button" class="rightBtn" mat-raised-button color="success" (click)="activeSecond()">
                <span class="btnText">Next</span>
            </button>
        </div>
    </div>
    <div class="form second" *ngIf="isActiveS">
        <div class="user-details">
            <span class="header">Address</span>

            <div class="form-inputs">
                <label>Street</label>
                <input type="text" placeholder="Enter your street" [(ngModel)]="model.street" name="st">
            </div>
            <div class="form-inputs">
                <label>Password</label>
                <input type="text" placeholder="Enter your home number" [(ngModel)]="model.password" name="numH">
            </div>
            <div class="form-inputs">
                <label>Town</label>
                <input type="text" placeholder="Enter your town" [(ngModel)]="model.town" name="tw">
            </div>
            <div class="form-inputs">
                <label>Code</label>
                <input type="text" placeholder="Enter your code" [(ngModel)]="model.code" name="code">
            </div>
            <div class="chcBox">
                <mat-checkbox (change)="onCheckboxChange($event)">
                    Have you been registered in other medical clinic before?
                </mat-checkbox>
            </div>
            <div class="form-inputs clinic" *ngIf="isCheckedClinic">
                <label>Your last medical clinic</label>
                <input type="text" placeholder="Enter the name and address of the previous medical clinic" [(ngModel)]="model.lastClinic" name="clin">
            </div>
            <span class="chcInfo" *ngIf="isCheckedClinic">We will contact with them about your patient
                history</span>
        </div>
        <div class="form-buttons">
            <button type="button" class="leftBtn" mat-raised-button color="success" (click)="activeFirst()">
                <span class="btnText">Back</span>
            </button>
            <button type="submit" class="rightBtn" mat-raised-button color="success">
                <span class="btnText">Submit</span>
            </button>
        </div>
    </div>
</form>